body {
	background-color: #F7F5FB;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0E273C;
}

li {
	float: left;
}

li a, .drop-btn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 25px 50px;
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: 700;
}

li a:hover, .dropdown:hover .drop-btn{
	background-color: white;
	color: black;
}

li.drop-down {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #174163;
	min-width: 80px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 20px 50px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-weight: 400;
}

.dropdown-content a:hover {
	background-color: #BDD9EF;
	font-weight: 700;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

